
.topnav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    color: black;

}

.bottomright {
    position: absolute;
    bottom: 0;
    right:0;
    padding: 10px;
    margin: 0;
    color: dimgrey
}
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    color: dimgrey
}

li {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit
}

img {
    padding: 20px
}

input {
    margin:10px;
    display: inline-block;
}

ul {
    padding-inline-start: 10px;

}

.wrapper {
    text-align: center;
    padding-top: 120px;
}

.center {
    display: inline-block

}

.country {
    position: fixed;
    bottom: 0;
    padding: 18px;
    width: 100%;
    background-color: #c7c7c794;
    right: 0;
    z-index: -22;
    left: 0px;
    top: 560px;  
    color: dimgrey

}

.search {
    padding: 10px;
    border:none;
    color: dimgrey;
    font: 400 14px arial;
}

.search:focus {
    border: 0.5;
    border-color: darkgray;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

.bar {
    width: 406px;
    height: 36px;
    border-radius: 100px;
    border-style: ridge;
    font: 400 14px arial;
    text-indent: 1em;
    outline: none;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: white;
    text-align: center;
    z-index: -1;
    height: 47px;
    border-radius: 2px;
    border-color: lightsalmon;
  }

  a:hover {
    text-decoration: underline;
  }